<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <ul >
    <li role="presentation"><a routerLink="home" routerLinkActive="">Home</a></li>
    <li role="presentation"> <a routerLink="st/student">Student</a>
    <li role="presentation"> <a routerLink="st/student-list">StudentList</a>

  </li>
  </ul>


</div>
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
    <!-- it is stilll a directive it only loads the componet of currently selected route-->
    <!-- <app-home></app-home> -->
  </div>
</div>